/*
http://wordpress.org/extend/plugins/wp-pagenavi/
Do not move this file or rename. 
Being used by wp-pagenavi plugin to style the pagination.
*/

.pagination {
  @apply pt-4;

  .wp-pagenavi {
    @apply flex items-center justify-center;

    .pages {
      @apply hidden;
    }

    .current,
    .page.larger,
    .page.smaller {
      @apply inline-flex h-5 w-5 items-center justify-center text-xl font-bold;
    }

    .previouspostslink,
    .nextpostslink,
    .first,
    .last {
      @apply inline-flex h-5 w-5 items-center justify-center text-none before:text-xl before:font-black before:content-[''];

      &:before {
        font-family: 'Font Awesome 5 Free';
      }
    }

    .previouspostslink {
      @apply before:content-['\F053'];
    }

    .nextpostslink {
      @apply before:content-['\F054'];
    }

    .first:before {
      @apply text-lg before:content-['\F100'];
    }

    .last:before {
      @apply text-lg before:content-['\F101'];
    }
  }
}
