{# see `archive.twig` for an alternative strategy of extending templates #}
{% extends 'base.twig' %}

{% set post_body = post.meta('body'|truncate(30)) %}
{% set event_description = post.meta('description'|truncate(30)) %}

{% block content %}
  <div class="container py-5">
    <div class="flex flex-col items-center px-2 pb-10 text-center min-h-max">
      <div class="">
        <h1 class="py-4">Search</h1>
        {% if posts is not empty %}
          <p class="">Please use the "search box" at the top of the page to enter a new search keyword.</p>
        {% elseif posts is empty %}
          <p class="">There are no results for your query. Please update your search terms and try again.</p>
        {% endif %}
      </div>
    </div>

    <div class="flex flex-col items-center justify-center">
      {% for post in posts %}
        {% include './src/components/03-organisms/Card/WideCard.twig' with {
          wide_card_title: post.title,
          wide_card_body: post.meta('description') ? : post.meta('body'),
          wide_card_permalink: post.link,
          wide_card_image: post.thumbnail.src('tile'),
          wide_card_image_alt: post.thumbnail.alt,
          wide_card_date: post.date
        } %}
      {% endfor %}
    </div>
  </div>

  <div class="">{{ wp_pagenavi }}</div>
{% endblock %}
