{# -----------------------------------------------------------------------------
@FILE: --- body.twig
BLOCK NAME: --- Body
DESCRIPTION: ---	A simple body block with heading, body text, files and links.
INFO: --- This block is used to display a simple body with heading, body text, files and links.
============================================================================= #}

{# Twig Context ----------------------------------------------------------------
- field.band_heading
- field.band_body
- field.files 
	- field.files.file.url
	- field.files.file.title
- field.links
	- field.links.link.url
	- field.links.link.title
 ============================================================================= #}

{# Set Variables ----------------------------- #}
{% set heading = field.band_heading %}
{% set body = field.band_body %}
{% set files = field.files %}
{% set links = field.links %}

{# setting the ACF ID on the block #}
{% set block_id = block.id %}
{# =========================================== #}

{# Component Markup -------------------------- #}
<section id="{{ block_id }}" class="ma--body ma--block--spacing">
  <div class="mx-auto w-full max-w-[75ch]">
    {# HEADING TEXT #}
    {% if field.band_heading %}
      <h2 class="text-center text-5xl">{{ field.band_heading }}</h2>
    {% endif %}

    {# BODY TEXT #}
    {% if field.band_body %}
      <article class="ma--editor py-4">{{ field.band_body }}</article>
    {% endif %}

    <footer>
      {# FILES AND LINKS #}
      {% if field.files or field.links %}
        {# FILES #}
        {% if field.files %}
          <div class="pb-3">
            <h3 class="max-w-max border-t py-1 text-lg font-bold uppercase leading-5">FILES</h3>
            {% for item in field.files %}
              <a class="block text-left" href="{{ get_image(item.file).src }}" target="_blank">
                {% if item.file.filename %}
                  {{ item.file.filename }}
                {% else %}
                  {{ item.file.url }}
                {% endif %}
              </a>
            {% endfor %}
          </div>
        {% endif %}

        {# LINKS #}
        {% if field.links %}
          <div class="pb-2">
            <h3 class="max-w-max border-t py-1 text-lg font-bold uppercase leading-5">LINKS</h3>
            {% for item in field.links %}
              <a class="block text-left" href="{{ item.link.url }}">
                {{ item.link.url ? item.link.title : item.link.url }}
              </a>
            {% endfor %}
          </div>
        {% endif %}
      {% endif %}
    </footer>
  </div>
</section>
{# =========================================== #}
