{#
/**
 * @file
 * Template for Navbar component.

#}

<nav class="relative z-50 bg-white">
  {# First Floor Area #}
  <div class="container flex flex-wrap items-center justify-between px-2 py-4 md:px-0">
    {# LOGO #}
    <a href="/" class="flex items-center" tabindex="0">
      <img class="h-[80px]" src="{{ options.header_logo }}" alt="brand logo" />
    </a>

    <div class="flex items-center justify-center md:order-2">
      {# Secondary Nav Items (Second Floor Desktop Only) #}
      <ul class="hidden flex-row items-center justify-between gap-2 px-2 font-medium md:flex">
        {% for item in secondary_menu.items %}
          <li>
            <a href="{{ item.link }}" class="px-2 text-blue-500 block py-2 text-left md:text-center" aria-current="page">
              {{ item.title }}
            </a>
          </li>
        {% endfor %}
      </ul>

      {% if options.search_functionality == 'yes' %}
        {# SEARCH BUTTON (First Floor) #}
        <button
          type="button"
          data-collapse-toggle="navbar-search"
          aria-controls="navbar-search"
          aria-expanded="false"
          class="hover:bg-gray-10 me-1 rounded-lg p-2 text-sm text-black md:hidden"
        >
          <svg
            width="24"
            height="24"
            class="h-3 w-3"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewbox="0 0 20 20"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"
            />
          </svg>
          <span class="sr-only">Search</span>
        </button>

        {# Ivory Search #}
        <div class="relative hidden md:block">
          <div class="">{{ function('do_shortcode', ''~ options.ivory_search_shortcode ~'') }}</div>
        </div>
      {% endif %}

      {# HAMBURGER BUTTON (First Floor) #}
      <button
        data-collapse-toggle="navbar-search"
        type="button"
        class="inline-flex h-5 w-5 items-center justify-center rounded-lg p-1 text-sm text-black hover:bg-gray-100 md:hidden"
        aria-controls="navbar-search"
        aria-expanded="false"
      >
        <span class="sr-only">Open Main Menu</span>
        <svg
          width="24"
          height="24"
          class="h-3 w-3"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewbox="0 0 17 14"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M1 1h15M1 7h15M1 13h15"
          />
        </svg>
      </button>
    </div>
  </div>

  <div class="hidden w-full md:order-1 md:flex md:w-auto" id="navbar-search">
    {# MOBILE SEARCH INPUT (Seond Floor - Mobile Only) #}
    {% if options.search_functionality is same as 'yes' %}
      <div class="relative md:hidden">
        <div class="pointer-events-none absolute inset-y-0 start-0 flex items-center ps-3">
          <svg
            width="16"
            height="16"
            class="h-2 w-2 text-gray-500"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewbox="0 0 20 20"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"
            />
          </svg>
        </div>
        <input
          type="text"
          id="search-navbar"
          class="mt-0 block w-full border border-gray-300 bg-gray-50 p-2 ps-10 text-sm text-gray-900 focus:border-blue-500 focus:ring-blue-500"
          placeholder="Search"
        />
      </div>
    {% endif %}

    {# Nav Items (Second Floor Mobile Only) #}
    <ul class="flex flex-col md:mt-0 md:hidden md:flex-row md:p-0">
      {% for item in secondary_menu.items %}
        <li>
          <a
            href="{{ item.link }}"
            class="md:bg-transparenttext-blue-500 block bg-white px-3 py-3 text-left md:text-center"
            aria-current="page"
          >
            {{ item.title }}
          </a>
        </li>
      {% endfor %}
    </ul>

    {# First Floor Nav #}
    <div class="w-full bg-brand-primary shadow-sm">
      <ul class="container flex w-full flex-col items-center justify-evenly uppercase md:h-[64px] md:flex-row">
        {% for item in primary_menu.items %}
          <li
            class="flex w-full flex-wrap items-center min-h-12 md:h-full md:w-max md:flex-nowrap md:justify-normal md:py-0 {{
            item.children
              ? 'justify-between'
              : ''
            }}"
          >
            {% if item.children %}
              <a class="bg-brand-primary px-3 md:px-1 font-bold text-white tracking-[1.23px]" href="{{ item.url }}">{{ item.title }}</a>
              <button
                id="navbarDropdown-{{ loop.index }}"
                data-dropdown-trigger="click"
                data-dropdown-toggle="dropdown-{{ loop.index }}"
                data-dropdown-delay="0"
                data-dropdown-offset-distance="0"
                data-dropdown-offset-skidding="-85"
                data-dropdown-placement="bottom"
                class="fb-dropdown-button left-3 inline-flex items-center justify-end py-[20px] pr-2 text-white md:justify-center"
              >
                <svg
                  width="16"
                  height="24"
                  class="ms-1 h-3 w-2"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewbox="0 0 10 6"
                >
                  <path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="m1 1 4 4 4-4"
                  />
                </svg>
              </button>
            {% else %}
              <a
                class="flex items-center bg-brand-primary px-3 font-bold tracking-[1.23px] text-white hover:underline md:justify-center "
                href="{{ item.link }}"
              >
                {{ item.title }}
              </a>
            {% endif %}

            {% if item.children %}
              <!-- Dropdown menu -->

              <div
                id="dropdown-{{ loop.index }}"
                class="fb-dropdown-list z-10 hidden w-full bg-white shadow-lg border border-t-0  md:w-[230px]"
              >
                <ul class="" aria-labelledby="navbarDropdown">
                  {% for child in item.children %}
                    <li class="md:hover:bg-gray-200 transition-colors ease-in-out duration-250">
                      <a href="{{ child.link }}" class="text-black tracking-[1.23px] block text-left pl-6 md:text-center h-full md:px-3 py-3 font-bold">{{ child.title }}</a>
                    </li>
                  {% endfor %}
                </ul>
              </div>
            {% endif %}
          </li>
        {% endfor %}
        {# Donate Button #}
        {% if options.donate_button.button_visible %}

          {# {% include "./src/components/01-Atoms/button/LinkButton.twig" with {
					'content': options.donate_button.button_text,
					'url': options.donate_button.button_link,
					'target': '_blank',
					'classes': 'ma--btn--primar',
					'role': 'link',
					}%} #}
          <li class="w-full md:w-min">
            <a href="{{options.donate_button.button_link}}" class=" bg-brand-secondary w-full px-3 py-3  md:py-[10px] font-bold text-white hover:shadow-md transition-all ease-in-out duration-250 block">{{options.donate_button.button_text}}</a>
          </li>
        {% endif %}
        
        
      </ul>
    </div>
  </div>
</nav>
