@layer base {
  body {
    @apply font-sans text-base font-normal text-body-color;
  }

  h1 {
    @apply bg-transparent text-5xl font-semibold leading-18 text-heading-color;

    @screen md {
      @apply text-6xl;
    }
  }

  h2 {
    @apply bg-transparent text-4xl font-semibold leading-14 text-inherit;

    @screen md {
      @apply text-5xl;
    }
  }

  h3 {
    @apply bg-transparent text-4xl font-semibold leading-11 text-heading-color;
  }

  h4 {
    @apply bg-transparent text-2xl font-semibold leading-8 text-heading-color;
  }

  h5 {
    @apply bg-transparent text-xl font-semibold leading-7 text-heading-color;
  }

  h6 {
    @apply bg-transparent text-lg font-semibold leading-7 text-heading-color;
  }

  a {
    @apply text-center text-base font-normal text-link-color no-underline;

    &:hover {
      @apply underline;
    }

    &:focus {
      @apply underline;
    }

    &:active {
      @apply underline;
    }
  }

  p {
    @apply max-w-[75ch] bg-transparent text-base font-normal leading-7 text-body-color;

    @screen md {
      @apply text-lg;
    }
  }
}
