.ma--editor {
  @apply text-black;

  h2 {
    @apply text-3xl font-extrabold leading-12 md:text-4xl;
  }

  h3 {
    @apply text-2xl font-bold leading-9;
  }

  h4 {
    @apply text-xl font-bold leading-8;
  }

  p {
    @apply my-3 text-base leading-7;
  }

  ol {
    @apply my-3 list-inside list-decimal leading-7;
  }

  ul {
    @apply my-3 ml-2 list-outside list-disc leading-7;
  }

  blockquote p {
    @apply my-3 ml-8 border-l-4 border-brand-primary pl-2 text-xl font-bold italic leading-7 text-black;
  }
  hr {
    @apply my-3 h-[1px];
  }
}
