{# -----------------------------------------------------------------------------
@FILE: --- Card.twig
BLOCK_NAME: --- Card
DESCRIPTION: --- Basic Card Component
INFO: --- A simple card component with an image or icon, heading, and body text.
============================================================================= #}

{# Twig Context ----------------------------------------------------------------

============================================================================= #}

{# Set Variables ----------------------------- #}
{% set card_image =  card_image|default({
  'url': 'https://via.placeholder.com/150',
  'alt': 'Placeholder Image'
}) %}
{% set card_icon =  card_icon|default('No Icon') %}
{% set card_icon_type =  card_icon_type|default('image') %}
{% set card_heading = card_heading|default('No Heading') %}
{% set card_body = card_body|default('No Body') %}
{% set card_link = card_link %}
{# =========================================== #}


{# Component Markup -------------------------- #}
<section class="ma--card min-h-[268px] md:min-h-[336px] hover:scale-[105%] duration-250  transition-all ease-in-out border hover:shadow-md md:max-w-[360px] inline-flex flex-col md:h-full justify-center md:justify-start items-center {{ card_has_white_bg ? 'bg-white' : ''}}">

	{# If Link, Wrap in <a> tag #}
	  {% if card_link %}
		  <a class="flex-grow group hover:no-underline" href="{{ card_link['url'] }}" target="{{ card_link['target'] }}">
		{% endif %}


		{# Signpost Image or Icon #}
		{% if card_icon_type is same as 'image' %}
			<img src="{{ card_image.src }}" alt="{{ card_image.alt }}" class="aspect-card-image">

		{% elseif card_icon_type is same as 'icon' %}
			<div class="pt-3">{{ card_icon }}</div>
		{% endif %}

		<div class="px-3 pb-3 pt-2 flex-grow">
		  {# Signpost Heading #}
  		{% if card_heading %}
  			<h3 class="py-2 group-hover:underline">{{ card_heading }}</h3>
  		{% endif %}
  
  		{# Signpost Body #}
  		{% if card_body %}
  			<p class="text-black">
  				{{ card_body }}
  			</p>
  		{% endif %}
		</div>


		{# If Link, close </a> tag #}
		{% if card_link %}
		  </a>
	  {% endif %}
</section>
{# =========================================== #}