{# -----------------------------------------------------------------------------
@FILE: --- GridCard.twig
BLOCK_NAME: --- Grid Card
DESCRIPTION: ---  
INFO: ---
============================================================================= #}

{# Twig Context --------------------------------------------------------------
	- 
============================================================================= #}

{# Set Variables ----------------------------- #}
{% set card_default_bg = 'bg-brand-primary' %}
{% set card_defauly_bg_image = '' %}
{% set card_default_eyebrow = 'No Eyebrow' %}
{% set card_default_title = 'No Title' %}
{% set card_default_mustatche = 'No Mustache' %}
{% set card_is_a_link = false %}
{# =========================================== #}

{# Component Markup -------------------------- #}
<div
  class="ma--grid--card z-0 overflow-hidden transition-all duration-250 ease-in-out hover:scale-105 hover:shadow-md"
  style="background-image:{{
  card_image_bg_url
    ? 'linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4))'
    : ''
  }},url({{ card_image_bg_url }});"
>
  <a
    class="group relative z-[2] flex h-full flex-col text-left text-white hover:no-underline {{
    card_eyebrow is not empty or card_mustache is not empty
      ? 'justify-between'
      : 'justify-center'
    }}"
    href="{{ card_link_url ? card_link_url ? '' }}"
  >
    {% if card_eyebrow %}
      <div class="text-base font-bold uppercase">{{ card_eyebrow ? card_eyebrow : card_default_eyebrow }}</div>
    {% endif %}

    {% if card_title %}
      <h3 class="py-2 text-2xl font-normal leading-7 text-white group-hover:underline">
        {{ card_title ? card_title|truncate(8) : card_default_title }}
      </h3>
    {% endif %}

    {% if card_mustache %}
      <div class="text-[15px] font-normal">
        {% if card_mustache is iterable %}
          {% for item in card_mustache %}
            {{ item.name ~ (loop.last ? '' : ' |') }}
          {% endfor %}
        {% else %}
          {{ card_mustache ? card_mustache : card_default_mustatche }}
        {% endif %}
      </div>
    {% endif %}
  </a>
</div>
{# =========================================== #}
