{# -----------------------------------------------------------------------------
@FILE: --- wide-card.twig
BLOCK_NAME: --- Wide Card
DESCRIPTION: --- Card for displaying a wide card with a thumbnail usually used 
for blog posts
INFO: --- 
============================================================================= #}

{# Twig Context ----------------------------------------------------------------
- loop_object: --- The object to loop through, passed in via include.
============================================================================= #}

{# Set Variables ----------------------------- #}
{# =========================================== #}

{# Component Markup -------------------------- #}

<article
  class="group ma--wide--card mb-5 flex min-h-[266px] w-full max-w-[768px] flex-col-reverse flex-nowrap border transition duration-250 ease-in-out hover:scale-105 hover:shadow-md md:flex-row"
>
  {# Main Content Of Card #}
  <div class="w-full {{ wide_card_image ? 'md:w-3/5' : '' }} p-3">
    <a class="group text-left text-black group-hover:no-underline" href="{{ wide_card_permalink }}">
      {% if wide_card_title %}
        <h2 class="line-clamp-1 pb-1 group-hover:underline">{{ wide_card_title }}</h2>
      {% endif %}

      {% if wide_card_date %}
        <date class="block pb-2 font-semibold group-hover:no-underline">{{ wide_card_date|date('M d, Y') }}</date>
      {% endif %}

      {% if wide_card_body %}
        <p class="text-black group-hover:no-underline">{{ wide_card_body|truncate(30) }}</p>
      {% endif %}

      {% if wide_card_category %}
        <p class="group-hover:no-underline">{{ wide_card_category }}</p>
      {% endif %}

      {% if wide_card_tags %}
        <p class="group-hover:no-underline">{{ wide_card_tags }}</p>
      {% endif %}
    </a>
  </div>

  {# Thumbnail #}
  {% if wide_card_image %}
    <div class="w-full overflow-hidden md:w-2/5">
      <img class="h-full transform object-cover" src="{{ wide_card_image }}" alt="{{ wide_card_image_alt }}" />
    </div>
  {% endif %}
</article>

{# =========================================== #}
