{% extends 'base.twig' %}

{% block content %}
  {# 
<div class="">
      <h1 class="">
        <div class="">
          Upcoming Events
        </div>
      </h1>
  <h2 class="heading">Month Here</h2>
  <div class="">
    {% for post in eventposts %}
      {% if post.event_featured_image %}
        <a href="{{post.link}}" class="">
              {% set image = Image(post.meta('event_featured_image')) %}
              <img src="{{ image.src }}" alt="{{ image.alt }}" class="img-fluid" />
      {% else %}
        <a href="{{ post.link }}" class="">
      {% endif %}
                <time datetime="{{ post.event_date }}">{{ post.event_date|date("F j, Y") }}</time>
              <h3 class="">
                  {{ post.title }}
              </h3>
      </a>
    {% endfor %}
</div>
</div> #}
{% endblock %}
