/*------------------------------------------------
Contact Form 7 Plugin CSS Overrides
-------------------------------------------------*/
.wpcf7 {
  .wpcf7-form {
    width: 100%;
    margin: 0;

    input,
    label,
    textarea {
      width: 100%;
    }

    label {
      color: black;

      font-size: 1rem;
      text-transform: uppercase;
      font-weight: 500;
    }

    input,
    textarea {
      border: 2px solid gray !important;
    }

    input[type='submit'] {
      border-color: gray !important;
    }

    .wpcf7-submit {
    }
  }
}

.grecaptcha-badge {
  visibility: hidden;
}

/*------------------------------------------------
Form Inputs Base Styles
-------------------------------------------------*/
@layer components {
  label,
  fieldset legend {
    @apply block text-sm font-semibold uppercase text-gray-700;
  }

  input[type='text'],
  input[type='email'],
  input[type='password'],
  input[type='tel'],
  input[type='url'],
  input[type='search'],
  input[type='number'],
  input[type='date'],
  input[type='time'],
  input[type='datetime-local'],
  input[type='month'],
  input[type='week'],
  input[type='color'],
  textarea {
    @apply mt-1 block border-gray-300 font-normal shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-200 focus:ring-opacity-75;

    &:disabled {
      @apply bg-gray-100;
    }
  }

  select,
  select[multiple] {
    @apply mt-1 block border-gray-300 bg-none font-normal shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-300 focus:ring-opacity-75;
  }

  input[type='radio'] {
    @apply h-2 w-2 border-gray-300 focus:ring-2 focus:ring-blue-300;
  }

  input[type='checkbox'] {
    @apply h-2 w-2 rounded-sm border-gray-300 focus:ring-2 focus:ring-blue-300;
  }

  input[type='submit'],
  input[type='button'] {
    @apply ma--btn ma--btn--primary w-full cursor-pointer;
  }

  input[type='file'] {
  }
}

/*------------------------------------------------
Search & Filter Plugin CSS Overrides
-------------------------------------------------*/

.listing_page-template-default {
  .sf-field-category {
    h4 {
      @apply pb-0;
    }
    label,
    select {
      @apply block w-full;
    }
  }
}
