{# -----------------------------------------------------------------------------
@FILE: --- Accordion.twig
BLOCK_NAME: --- Accordion
DESCRIPTION: ---
INFO: ---
============================================================================= #}

{# Twig Context ----------------------------------------------------------------
- field:
  - accordion_items:
    - accordion_item_heading:
    - accordion_item_body:
  - band_heading:
  - band_body:
  - band_ctas:
    - band_ctas_link:
      - title:
      - url:
      - target:
============================================================================= #}

{# Set Variables ----------------------------- #}
{# setting the ACF ID on the block #}
{% set block_id = block.id %}
{# =========================================== #}

{# Component Markup -------------------------- #}
<section id="{{ block_id }}" class="ma--block--spacing ma--accordion">
  <div class="container">
    {# Block Heading #}
    {% if field.band_heading %}
      <h2 class="h2 text-center">{{ field.band_heading }}</h2>
    {% endif %}

    {# Block Body Text #}
    {% if field.band_body %}
      <div class="flex flex-col items-center pb-4 pt-2 md:pb-4 md:pt-4">{{ field.band_body }}</div>
    {% endif %}

    {# Accordion #}
    <div class="" id="accordion-flush" data-accordion="collapse" data-active-classes="text-black">
      {% for item in field.accordion_items %}
        {# HEADING #}
        <h3 class="text-black" id="accordion-flush-heading-{{ loop.index }}">
          <button
            type="button"
            class="flex w-full items-center justify-between gap-3 border-b border-gray-200 px-2 py-3 text-xl font-medium"
            data-accordion-target="#accordion-flush-body-{{ loop.index }}"
            aria-expanded="true"
            aria-controls="accordion-flush-body-{{ loop.index }}"
          >
            <span>{{ item.accordion_item_heading }}</span>
            <svg
              data-accordion-icon
              class="h-2 w-2 shrink-0 rotate-180"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 10 6"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M9 5 5 1 1 5"
              />
            </svg>
          </button>
        </h3>

        {# BODY #}
        <div
          id="accordion-flush-body-{{ loop.index }}"
          class="hidden px-2 py-3"
          aria-labelledby="accordion-flush-heading-{{ loop.index }}"
        >
          <div class="px-4">{{ item.accordion_item_body }}</div>
        </div>
      {% endfor %}
    </div>

    {# CTAS #}
    <div class="flex flex-col items-center justify-center gap-x-2 gap-y-2 py-5 md:flex-row md:gap-y-0">
      {% if field.band_ctas %}
        {% for item in field.band_ctas %}
          {% if loop.first %}
            {% include './src/components/01-atoms/Button/LinkButton.twig' with {
              content: item.band_ctas_link['title'],
              url: item.band_ctas_link['url'],
              target: item.band_ctas_link['target'],
              classes: 'ma--btn--primary',
              role: 'link'
            } %}
          {% else %}
            {% include './src/components/01-atoms/Button/LinkButton.twig' with {
              content: item.band_ctas_link['title'],
              url: item.band_ctas_link['url'],
              target: item.band_ctas_link['target'],
              classes: 'ma--btn--secondary',
              role: 'link'
            } %}
          {% endif %}
        {% endfor %}
      {% endif %}
    </div>
  </div>
</section>
{# =========================================== #}
