{# -----------------------------------------------------------------------------
  @FILE: --- SafetyExitButton.twig
  BLOCK_NAME: --- Safety Exit Button
  DESCRIPTION: --- This is a button that is used to exit the site in case of an emergency.
  INFO: --- It is a fixed button that can be toggled in the theme options.
============================================================================= #}

{# Set Variables ----------------------------- #}

{% set safety_exit_btn_text = 'Safety Exit' %}

{# =========================================== #}

{# Component Markup -------------------------- #}
<button
  id="safetyExitButton"
  role="button"
  tabindex="0"
  class="fixed right-3 top-[250px] z-50 inline-flex gap-1 border border-black bg-rose-500 px-3 py-2 font-semibold uppercase text-white shadow-md transition-colors hover:bg-black hover:text-white"
  aria-label="Safety Exit"
>
  {{ safety_exit_btn_text }}
  <svg class="h-3 w-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
    <path
      stroke="currentColor"
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
      d="M16 12H4m12 0-4 4m4-4-4-4m3-4h2a3 3 0 0 1 3 3v10a3 3 0 0 1-3 3h-2"
    />
  </svg>
</button>
{# =========================================== #}

{# TODO: Possibly use the button component or make a variant for this feature #}
{# {% include "./src/components/01-atoms/Button/LinkButton.twig" with {
  'content': safety_link_text,
  'url': safety_link_url,
  'target': safety_link_target,
  'classes': 'ma--btn--primary',
  'role': safety_link_role,
}%} #}
