{# -----------------------------------------------------------------------------
	@FILE: --- JumpToTopButton.twig
	BLOCK_NAME: --- Jump To Top Button
	DESCRIPTION: --- Button to jump to the top of the page
	INFO: --- Can be toggled in the theme options.
============================================================================= #}

{# Set Variables ----------------------------- #}

{# ------------------------------------------- #}

{# Component Markup -------------------------- #}
<button
  id="to-top-button"
  type="button"
  class="duration-250 bottom-3 right-3 z-50 hidden rounded-full bg-brand-primary p-1 text-3xl text-white opacity-0 drop-shadow-md transition-all ease-in-out hover:bg-brand-secondary"
>
  <svg class="h-6 w-6 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24">
    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m16 14-4-4-4 4" />
  </svg>
</button>
{# =========================================== #}
