{% extends 'base.twig' %}

{% block content %}
  <div class="container flex flex-col items-center py-5 text-center">
    <h1 class="pb-3">404 Not Found.</h1>
    <p class="text-center text-xl">Sorry, we couldn't find what you're looking for.</p>
  </div>
{% endblock %}
