{# -----------------------------------------------------------------------------
@FILE: --- base.twig
BLOCK_NAME: --- 
DESCRIPTION: --- 
INFO: --- 
============================================================================= #}

<!DOCTYPE html>
<html class="no-js no-svg" {{ site.language_attributes }}>
  <head>
    <meta charset="{{ site.charset }}" />
    <meta name="description" content="{{ site.description }}" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="author" href="{{ site.theme.link }}/humans.txt" />
    <link rel="pingback" href="{{ site.pingback_url }}" />
    <link rel="profile" href="http://gmpg.org/xfn/11" />
    <link rel="stylesheet" href="{{ site.theme.link }}/dist/style.css" type="text/css" media="screen" />
    {{ function('wp_head') }}
  </head>

  <body id="top_of_page" class="{{ body_class }}" data-template="base.twig">
    {# WP Body Open #}
    {{ function('wp_body_open') }}

    {# Skip to Content #}
    <a class="sr-only" href="#main-content">{{ _e('Skip to content') }}</a>

    {# Page Header #}
    {% block page_header %}
      {% include '@layouts/page-header/page-header.twig' %}
    {% endblock %}

    {# Main Content #}
    <main id="main-content" tabindex="-1">
      {% if fn('is_front_page') %}
        <h1 class="sr-only">{{ site.name }}</h1>
      {% endif %}

      {# Inserting Content #}
      {% block content %}{% endblock %}
    </main>

    {# Page Footer #}
    {% block footer %}
      {% include '@layouts/page-footer/page-footer.twig' %}
    {% endblock %}
  </body>
</html>
