{# Twig Context --------------------------------------------------------------
	- post.thumbnail.src
  - post.thumbnail.alt
 ---------------------------------------------------------------------------#}

{# Set Variables ----------------------------- #}
{% set has_hero_image = post.thumbnail.src ? true : false %}
{# =========================================== #}

{% extends 'base.twig' %}

{% block content %}

    {# PAGE HERO IMAGE #}
    {% if has_hero_image %}
      <div class=" bg-cover bg-center bg-no-repeat w-full h-[440px] relative flex flex-col items-center ma--block--spacing" style="background-image:url('{{ post.thumbnail.src ? post.thumbnail.src  }}');"></div>
    {% endif %}
    

    <div class="relative flex flex-col items-center min-h-max px-2 {{ has_hero_image ? 'py-5' : 'pt-5 pb-10'}}">
      <div class="bg-white {{ has_hero_image ? '-mt-[100px]' : '' }}  container w-full text-center px-3 flex flex-col items-center">
          {% if post.title %}
              <h1 class="py-4">{{ post.title }}</h1>
          {% endif %}
    
          {% if post.meta('page_overview') %}
            <p class="md:text-xl max-w-[900px] text-base">{{post.meta('page_overview')}}</p>
          {% endif %}
      </div>
    </div>
    


  {{ post.content }}

{% endblock %}


