<div class="band__region band__region--band-content">
	<div class="band__region band__region--band-content-inner">
		<div class="field field--dynamic-block-fieldparagraph-grid-nav bundle--type-menu-grid">
			<div class="card-container card-container--grid card-deck set-width">

				{% for item in Post(post.related_locations) %}
					<div class="card card--card-img-top card--display-featured">
						<a href="{{ item.directions_link }}" class="card-inner">
							{% if item.thumbnail %}
								<div class="card-img-top card-img">
									<img src="{{ item.thumbnail.src('tile') }}" class="img-fluid" alt="{{ item.thumbnail.alt }}">
							{% else %}
								<div class="card-img-top no-img">
							{% endif %}
								</div>
								<div class="card-body">
									<div class="grid-item-content face">
										<div class="eyebrow">
											{% for term in item.terms %}
												 <div class="field__item">
													{{ term.name }}
												 </div>
											{% endfor %}
										</div>
										<h3 class="card__heading h4 heading">{{ item.title }}</h3>
										<div class="card__mustache mustache">
											<address>{{ item.address }}</address>
											<p>{{ item.phone }}</p>
										</div>
									</div>
								</div>
							</a>
						</div>
					{% endfor %}

				</div>
			</div>
		</div>
	</div>
