{#### Set variables ####}
{# Set some defaults. #}
{% set wrapper = wrapper ?: 'article' %}
{# Blockname #}
{# Blockname #}
{% set blockname = blockname?: 'layout' %}
{# Modifiers #}
{% set modifiers = modifiers ?: [] %}
	{% set modifiers = modifiers ?: [] %}
{% set modifiers = modifiers|merge([
  'standard',
  'detail-page',
  post.thumbnail ? 'has-media': 'no-media',
  post.post_type,
]) %}
{# Utilities #}
{% set utilities = utilities ?: [] %}
{% set utilities = utilities|merge([
  post.post_status,
]) %}

{% extends 'base.twig' %}

{% block content %}

<{{ wrapper }} {{ bem(blockname, modifiers, '', utilities) }} id="post-{{ post.ID }}">
  <div class="layout__row layout__row--top full-bleed">
    <div class="col layout__region layout__region--title-region">
      <div class="layout__face container">
				<div class="layout__eyebrow eyebrow">
          <div class="field field--news-type">
						<div class="field__items">
							{% for term in post.terms('topic') %}
								 <div class="field__item">
									{{ term.name }}
								 </div>
							{% endfor %}
						</div>
          </div>
        </div>
        <h1 class="layout__heading heading page-title">
          <div class="field field--title">
            {{ post.title }}
          </div>
        </h1>
        <div class="layout__mustache mustache d-flex">
          <div class="field field--post-date">
						{{ post.date }}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="layout__row layout__row--middle row">
    <div class="col-md-12 order-sm-first layout__region layout__region--main">
      {% if post.thumbnail %}
        <div class="field field--field-image bundle--type-news-post mb-3">
					<img src="{{ post.thumbnail.src('banner') }}" class="img-fluid" alt="{{ post.thumbnail.alt }}">
        </div>
      {% endif %}
      <div class="field field--body bundle--type-program row">
        <div class="field-container field--field-pg-body col-md-12">
          {{ post.meta('body') }}
        </div>
      </div>
			{% if post.files or post.links %}
          <div class="field-container field--field-pg-related">
            {% if post.files %}
              <div class="field-container field--field-pg-files">
                <div class="field field--field-pg-related-title">Files</div>
                  {% for item in post.meta('files') %}
                    <div class="field field--field-pg-related-item file">
                      <a href="{{ get_image(item.file).src }}">
												{% if item.file_name %}
												{{ item.file_name }}
												{% else %}
												{{ item.file.filename }}
												{% endif %}
											</a>
                    </div>
                  {% endfor %}
              </div>
            {% endif %}
            {% if post.links %}
              <div class="field-container field--field-pg-links">
                <div class="field field--field-pg-related-title">Links</div>
                {% for item in post.meta('links') %}
                  <div class="field field--field-pg-related-item link">
                    <a href="{{ item.link.url }}" target="_blank">
											{% if item.link.title %}
											{{ item.link.title }}
											{% else %}
											{{ item.link.url }}
											{% endif %}
										</a>
                  </div>
                {% endfor %}
              </div>
            {% endif %}
            </div>
          {% endif %}
    </div>
  </div>

	<div class="related-container full-bleed bg-light py-6">
	  <div class="container">
  	  <div class="layout__row layout__row--bottom row">
        <div class="col-12 bs-region bs-region--bottom-second layout__region layout__region--bottom-second">
      		<h2>Program Locations</h2>
      		<p>Click any of our locations to get directions.</p>
      		{% include 'related_locations.twig' %}
        </div>
      </div>
    </div>
  </div>

    <div class="related-container full-bleed bg-gray py-6">
    <div class="container">
      <div class="layout__row layout__row--bottom row">
        <div class="col-12 bs-region bs-region--bottom-second layout__region layout__region--bottom-second">
          <h2>Related Resources</h2>
          {% include 'related_resources.twig' %}
          <h2>Related Programs</h2>
          {% include 'related_programs.twig' %}
        </div>
      </div>
    </div>
  </div>

</{{ wrapper }}>
{% endblock %}
