{% extends 'base.twig' %}

{% block content %}
  <section class="px-2 py-10" id="post-{{ post.ID }}">
    <div class="container">
      <article class="grid gap-3 col-span-full md:grid-cols-12">
        <header class="pb-2 col-span-full">
          {% if post.title %}
            <h1 class="pb-2">{{ post.title }}</h1>
          {% endif %}

          {% if post.date %}
            <date class="font-semibold">{{ post.date }}</date>
          {% endif %}
        </header>

        {# Hero #}
        {% if post.thumbnail %}
          <div
            class="col-span-full h-[500px] bg-cover md:col-span-9"
            style="background-image:url({{ post.thumbnail.src('full') }});"
          ></div>
        {% endif %}

        <div class="col-span-full mx-auto max-w-[75ch] md:col-span-9">
          <div class="ma--editor">{{ post.meta('generic_article') }}</div>
        </div>

        {% if post.files or post.links %}
          <footer class="col-span-full mx-auto w-full max-w-[75ch] md:col-span-9">
            {# FILES #}
            {% if post.files %}
              <section class="py-2">
                <h2 class="py-1 text-lg font-bold leading-5 uppercase border-t max-w-max">Files</h2>
                <ul>
                  {% for item in post.meta('files') %}
                    <li>
                      <a href="{{ get_image(item.file).src }}" target="_blank">
                        {% if item.file.filename %}
                          {{ item.file.filename }}
                        {% else %}
                          {{ item.file.url }}
                        {% endif %}
                      </a>
                    </li>
                  {% endfor %}
                </ul>
              </section>
            {% endif %}

            {# LINKS #}
            {% if post.meta('links') %}
              <section class="py-2">
                <h2 class="py-1 text-lg font-bold leading-5 uppercase border-t max-w-max">Links</h2>
                <ul>
                  {% for item in post.meta('links') %}
                    <li>
                      <a href="{{ item.link_url.url }}" target="_blank">
                        {% if item.link_url.title %}
                          {{ item.link_url.title }}
                        {% else %}
                          {{ item.link_url.url }}
                        {% endif %}
                      </a>
                    </li>
                  {% endfor %}
                </ul>
              </section>
            {% endif %}
          </footer>
        {% endif %}

        {# Sidebar #}
        <aside class="col-span-full md:col-span-3 md:col-start-10 md:row-start-2">
          <section class="px-3 py-2 border border-t-8 border-black border-t-brand-primary">
            <h3 class="pb-1 mb-2 text-2xl font-semibold leading-8 border-b border-black">Main Nav Item</h3>
            {% if primary_menu.items %}
              <ul class="">
                {% for item in primary_menu.items %}
                  <li class="py-1">
                    <a class="text-xl text-black" href="{{ item.url }}">{{ item.title }}</a>
                    {% if item.children %}
                      <ul class="pl-2">
                        {% for child in item.children %}
                          <li class="">
                            <a href="{{ child.link }}" class="nav-link{{ child.current ? ' is-active' : '' }}">
                              {{ child.title }}
                            </a>
                          </li>
                        {% endfor %}
                      </ul>
                    {% endif %}
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
          </section>
        </aside>
      </article>
    </div>
  </section>

  {# Related Content #}
  {% if get_posts(post.related_content) %}
    <section class="container px-2 pt-4 pb-10">
      <h2 class="mb-4">Related Content</h2>

      <div class="grid gap-3 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
        {% for item in get_posts(post.related_content) %}
          {% include './src/components/03-organisms/Card/GridCard.twig' with {
            card_title: item.title,
            card_eyebrow: item.type,
            card_link_url: item.link,
            card_image_bg_url: item.thumbnail.src('tile'),
            card_mustache: item.terms(),
            card_is_a_link: true
          } %}
        {% endfor %}
      </div>
    </section>
  {% endif %}
{% endblock %}
