{# -----------------------------------------------------------------------------
@FILE: --- single-event.twig
BLOCK_NAME: ---
DESCRIPTION: --- Template for single event page
INFO: ---
============================================================================= #}

{# Set Variables ----------------------------- #}

{# =========================================== #}


{% extends 'base.twig' %}

{% block content %}



	<section class="py-10 px-2" id="post-{{ post.ID }}">

    <div class="container">

      <article class="grid md:grid-cols-12 gap-3">

        <header class="col-span-full pb-2">
          {% if post.title %}
    		  <h1 class="pb-2">{{ post.title }}</h1>
          {% endif %}

          {% if post.date %}
            <date class="font-semibold">{{ post.date }}</date>
          {% endif %}
        </header>


        {# Hero #}
        {% if post.thumbnail %}
          <div class="col-span-full lg:col-span-9 h-[500px] bg-cover" style="background-image:url({{ post.thumbnail.src('full') }});"></div>
        {% endif %}


        <div class="col-span-full lg:col-span-9 max-w-[75ch] mx-auto">
          <div class="ma--body">{{ post.description }}</div>
        </div>


        {% if post.files or post.links %}
        <footer class="col-span-full lg:col-span-9 max-w-[75ch] mx-auto w-full">
            {# FILES #}
            {% if post.files %}
              <section class="py-2">

                <h2 class="font-bold text-lg leading-5 border-t py-1 uppercase max-w-max">Files</h2>
                <ul>
                {% for item in post.meta('files') %}
                  <li>
                    <a href="{{ get_image(item.file).src }}">
                      {% if item.file_name %}
                        {{ item.file_name }}
                      {% else %}
                        {{ item.file.filename }}
                      {% endif %}
                    </a>
                  </li>
                {% endfor %}
                </ul>

              </section>
            {% endif %}

            {# LINKS #}
            {% if post.links %}
              <section class="py-2">

                <h2 class="font-bold text-lg leading-5 border-t py-1 uppercase max-w-max">Links</h2>
                <ul>
                  {% for item in post.links %}
                    <li>
                      <a href="{{ item.link.url }}" target="_blank">
                        {% if item.link.title %}
                          {{ item.link.title }}
                        {% else %}
                          {{ item.link.url }}
                        {% endif %}
                      </a>
                    </li>
                  {% endfor %}
                </ul>

              </section>

            {% endif %}

            </footer>
          {% endif %}

        {# Sidebar #}
        <aside class="col-span-full lg:col-start-10 lg:row-start-2 lg:col-span-3">
          <section class="border border-black border-t-8 border-t-brand-primary px-3 py-2">

            <h3 class="border-b border-black text-2xl pb-1 mb-2 font-semibold leading-8">Event Details</h3>

            <date class="block pb-1">
              {{post.date_start|date("F j, Y")}}
              {% if post.date_end %}
                {% if post.date_start|date("F j, Y") != post.date_end|date("F j, Y") %}
                &ndash; <br/> {{post.date_end|date("F j, Y")}}
                {% endif %}
              {% endif %}
            </date>


            <date class="block pb-3">
              {{ post.date_start|date("g:i a") }}
              {% if post.date_end %}
                {% if post.date_start|date("g:i a") != post.date_end|date("g:i a") %}
                &ndash; <br/>{{ post.date_end|date("g:i a") }}
                {% endif %}
              {% endif %}
            </date>

              {% if post.location %}
            <address class="not-italic pb-3">
              <div class="">{{ post.location }}</div>
            </address>
              {% endif %}


            <p>
              {% if post.registration_links %}
              {% for item in post.meta('registration_links') %}
              <a href="{{ item.registration_link.url }}" target="_blank" class="btn btn-primary">Register for Event</a>
              {% endfor %}
              {% endif %}
            </p>
          </section>

        </aside>

      </article>

    </div>
  </section>


{# Related Events #}
{% if related_events %}
  <section class="container pt-4 pb-10 px-2">
    <h2 class="mb-4">Upcoming Events</h2>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-3 container justify-items-center align-items-center">


    {% for post in related_events %}

      {# Get Event Type #}
      {% set event_type = '' %}
      {% for term in post.terms('event_type') %}
        {% set event_type = term.name %}
			{% endfor %}

      	{% include "./src/components/03-organisms/Card/GridCard.twig" with {
				'card_eyebrow': event_type,
				'card_title': post.title,
				'card_mustache': post.date_start|date("F j, Y"),
				'card_image_bg_url': post.thumbnail.src('tile'),
				'card_link_url': post.link,
				'card_is_a_link': true
			}%}
    {% endfor %}

    </div>

  </section>
{% endif %}


{% endblock %}
