{% set space = ' ' %}

{# 
post.listing_page_featured_image
post.post_type
post.post_status
 #}

{% extends 'base.twig' %}

{% block content %}
  <div class="ma--block--spacing {{ post.post_type ~ space ~ post.post_status }}" id="post-{{ post.ID }}">
    <div class="container">
      <section>
        {# Page Intro Copy Section #}
        {% if post.title %}
          <h1>{{ post.title }}</h1>
        {% endif %}

        {% if post.meta('overview') %}
          <div class="mx-0 my-3">{{ post.meta('overview') }}</div>
        {% endif %}
      </section>

      {# Main Content Area #}
      <section class="flex flex-col-reverse flex-nowrap gap-3 md:flex-row">
        {# First Column - Main Area #}
        <div class="w-full md:w-2/3"><div>{{ post.meta('listing_page_view') }}</div></div>

        {# Second Column - Sidebar #}
        <aside class="w-full md:w-1/3">
          <div class="border border-t-8 border-black border-t-brand-primary px-3 py-2">
            {{ post.meta('listing_page_sidebar') }}
          </div>
        </aside>
      </section>
    </div>
  </div>
{% endblock %}
