{# -----------------------------------------------------------------------------
@FILE: --- single-news.twig
DESCRIPTION: ---
INFO: ---
============================================================================= #}

{# Twig Context ----------------------------------------------------------------

============================================================================= #}


{# Set Variables ----------------------------- #}

{# =========================================== #}




{# Component Markup -------------------------- #}

{% extends 'base.twig' %}

	{% block content %}

	<section class="py-10 px-2" id="post-{{ post.ID }}">

    <div class="container">

      <article class="grid col-span-full md:grid-cols-12 gap-3">

        <header class="col-span-full pb-2">
          {% if post.title %}
    		  <h1 class="pb-2">{{ post.title }}</h1>
          {% endif %}

          {% if post.date %}
            <date class="font-semibold">{{ post.date }}</date>
          {% endif %}
        </header>


        {# Hero #}
        {% if post.thumbnail %}
          <div class="col-span-full md:col-span-9 h-[500px] bg-cover" style="background-image:url({{ post.thumbnail.src('full') }});"></div>
        {% endif %}


        <div class="col-span-full md:col-span-9 max-w-[75ch] mx-auto">
          <div class="ma--body">{{ post.meta('body') }}</div>
        </div>


        {% if post.files or post.links %}
        <footer class="col-span-full md:col-span-9 max-w-[75ch] mx-auto w-full ">
            {# FILES #}
            {% if post.files %}
              <section class="py-2">

                <h2 class="font-bold text-lg leading-5 border-t py-1 uppercase max-w-max">Files</h2>
                <ul>
                  {% for item in post.meta('files') %}
                    <li>
                    <a href="{{ get_image(item.file).src }}">
                      {% if item.file_name %}
                        {{ item.file_name }}
                      {% else %}
                        {{ item.file.filename }}
                      {% endif %}
                    </a>
                    </li>
                  {% endfor %}
                </ul>

              </section>
            {% endif %}

            {# LINKS #}
            {% if post.links %}
              <section class="py-2">

                <h2 class="font-bold text-lg leading-5 border-t py-1 uppercase max-w-max">Links</h2>
                <ul>
                {% for item in post.meta('links') %}
                  <li>
                    <a href="{{ item.link.url }}" target="_blank">
                      {% if item.link.title %}
                        {{ item.link.title }}
                      {% else %}
                        {{ item.link.url }}
                      {% endif %}
                    </a>
                  </li>
                {% endfor %}
                </ul>
              </section>

            {% endif %}

            </footer>
          {% endif %}

        {# Sidebar #}
        <aside class="col-span-full md:col-span-3 md:col-start-10 md:row-start-2">
          <section class="border border-black border-t-8 border-t-brand-primary px-3 py-2">

            <h3 class="border-b border-black text-2xl pb-1 mb-2 font-semibold leading-8">Tags</h3>
              {# <ul class="flex flex-col gap-y-2">
                {% for term in post.terms('news-type') %}
                  <li>{{ term.name }}</li>
                {% endfor %}
              </ul> #}

              <ul class="flex flex-col gap-y-2">
                {% for tag in post.topics %}
                  <li>{{ tag.name }}</li>
                {% endfor %}
              </ul>
          </section>

        </aside>

      </article>

    </div>
  </section>


{# Related News #}
{# {% if post.related_news %}    #}
  <section class="container pt-4 pb-10 px-2">
    <h2 class="mb-4">Related News</h2>

    {% for post in related_news %}
      {% include "./src/components/03-organisms/Card/WideCard.twig" with {
        'wide_card_title': post.title,
        'wide_card_body': post.body,
        'wide_card_permalink': post.link,
        'wide_card_image': post.thumbnail.src('tile'),
        'wide_card_image_alt': post.thumbnail.alt,
        'wide_card_date': post.date,
      }%}
    {% endfor %}

  </section>
{# {% endif %} #}




	{% endblock %}
{# =========================================== #}
