{# ---------------------------------------------------------------------------
@FILE: --- page-footer.twig
BLOCK NAME --- PAGE-FOOTER
DESCRIPTION --- A block that contains the footer of the page.
INFO --- This block is used to display the footer of the page. It contains the footer logo, address, statement, newsletter, and the footer menu.
============================================================================ #}

{# Twig Context ----------------------------------------------------------------
- footer_menu (object): The footer menu object.

- options (object): The theme options object.
	- footer_address (string): The footer address.
	- footer_statement (string): The footer statement.
	- footer_newsletter (string): The footer newsletter.
	- footer_social (string): The footer social media links.
	- footer_copyright_copy (string): The footer copyright copy.

- theme_features (object): The theme features object.
	- safety_exit (boolean): The safety exit feature.
	- jump_to_top_button (boolean): The jump to top button feature.
============================================================================= #}


{# Component Markup -------------------------- #}
<footer class="relative flex items-center justify-center px-2 py-5 bg-brand-light-blue">

	{# Jump To Top Button
	- This is optional and can be enabled/disabled in the theme settings.
	#}
	{% if options.theme_features.jump_to_top_button %}
		{% include "/src/components/02-molecules/JumpTopButton/JumpTopButton.twig" %}
	{% endif %}

	{% if options.theme_features.safety_exit %}
		{% include "/src/components/02-molecules/SafetyExitButton/SafetyExitButton.twig" %}
	{% endif %}


	<div class="container flex flex-col flex-wrap items-center justify-center w-full lg:flex-row">

		<div class="flex justify-center w-full pb-4 lg:w-1/2 lg:justify-start">
			<a class="block" href="/">
				<img src="{{ options.header_logo }}" alt="footer logo">
			</a>
		</div>

		{# {{ options.footer_address }} #}
		{# {{ options.footer_statement }} #}
		{# {{ options.footer_newsletter }}  #}


			<div class="flex flex-col items-center w-full pb-6 lg:w-1/2 lg:items-start">
				<nav class="pb-3 lg:w-full" aria-label="Footer Menu">
					<ul class="flex flex-col items-center justify-between gap-4 md:flex-row">
						{% for item in footer_menu.items %}
							<li class=" {# {{ item.classes|join(' ') }} #}">
								<a class="font-bold uppercase" href="{{ item.get_link }}">{{ item.title }}</a>
							</li>
						{% endfor %}
					</ul>
				</nav>

			<div class="flex flex-col w-full lg:flex-row lg:justify-between gap-x-2">
				<div class="flex flex-col items-center gap-2 mb-3 lg:flex-row">
					{% include "./src/components/01-atoms/Button/LinkButton.twig" with {
						'content': 'Contact Us',
						'url': item.band_ctas_link['url'],
						'target': item.band_ctas_link['target'],
						'classes': 'btn-secondary',
						'role': 'link',
					}%}

					{% include "./src/components/01-atoms/Button/LinkButton.twig" with {
						'content': 'Subscribe',
						'url': item.band_ctas_link['url'],
						'target': item.band_ctas_link['target'],
						'classes': 'btn-secondary',
						'role': 'link',
					}%}
				</div>


				<div
					class="flex flex-row items-center justify-center mb-3 gap-x-2">
					{# {{ options.footer_social }} #}

					<a href="https://www.facebook.com" class="text-2xl hover:text-black" target="_blank">
					  <span class="sr-only">Facebook</span>
						<i class="fa fa-facebook" aria-hidden="true"></i>
					</a>

					<a href="https://www.instagram.com" class="text-2xl hover:text-black" target="_blank">
					  <span class="sr-only">Instagram</span>
						<i class="fa fa-instagram" aria-hidden="true"></i>
					</a>

					<a href="https://www.linkedin.com" class="text-2xl hover:text-black" target="_blank">
					  <span class="sr-only">LinkedIn</span>
						<i class="fa fa-linkedin" aria-hidden="true"></i>
					</a>

					<a href="https://www.twitter.com" class="text-2xl hover:text-black" target="_blank">
					  <span class="sr-only">Twitter</span>
						<i class="fa fa-twitter" aria-hidden="true"></i>
					</a>

					<a href="https://www.youtube.com" class="text-2xl hover:text-black" target="_blank">
					  <span class="sr-only">YouTube</span>
						<i class="fa fa-youtube" aria-hidden="true"></i>
					</a>

				</div>
			</div>
		</div>


		<div class="w-full border-t pt-2 text-[14px]">
			{{ options.footer_copyright_copy }}
		</div>

	</div>

	{{ function('wp_footer') }}
</footer>
{# =========================================== #}
