{# -----------------------------------------------------------------------------
@FILE: billboard.twig
BLOCK_NAME: --- Billboard
DESCRIPTION: --- A large banner with a heading, body text and CTA buttons
INFO: --- This block is used to create a large banner with a heading, body text and CTA buttons. The background can be an image or none.
============================================================================= #}



{# Twig Context ----------------------------------------------------------------
- field.band_media: Image, Video, None
- field.band_heading: Text (formatted, long)
- field.band_body: Text (formatted, long)
- field.band_ctas: Links
- field.band_ctas_link: Link URL
============================================================================= #}


{# Set Variables ----------------------------- #}
{% set bg_image_src = get_image(field.band_media).src('billboard') %}

{# setting the ACF ID on the block #}
{% set block_id = block.id %}

{# Utility class for correct background, so text appears visible #}
{% set classes = bg_image_src is not empty ? 'text-white' : 'text-black' %}

{# Assign to bg_style_tag if set and not null, if null default to empty string #}
{% set bg_style_tag = bg_image_src|default('') %}
{# =========================================== #}


{# Component Markup -------------------------- #}
<section id="{{ block_id }}" class="{{ classes }} ma--billboard ma--block--spacing bg-center bg-cover flex justify-center flex-col items-center" {% if bg_style_tag
	%} style="background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('{{ bg_style_tag }}');" {%
	endif %}>

	{# Heading #}
	{% if field.band_heading %}
		<h2 class="">{{ field.band_heading }}</h2>
	{% endif %}

	{# Body #}
	{% if field.band_body %}
		<div class="pt-2 pb-4 md:pb-8 md:pt-4">{{ field.band_body }}</div>
	{% endif %}

	{# CTAS #}
	<div class="flex flex-col items-center justify-center md:flex-row gap-x-2 gap-y-2 md:gap-y-0">
		{% if field.band_ctas %}

			{% for item in field.band_ctas %}

				{% if loop.first %}

					{% include "./src/components/01-atoms/Button/LinkButton.twig" with {
					'content': item.band_ctas_link['title'],
					'url': item.band_ctas_link['url'],
					'target': item.band_ctas_link['target'],
					'classes': 'ma--btn--primary',
					'role': 'link',
					}%}

				{% else %}

					{% include "./src/components/01-atoms/Button/LinkButton.twig" with {
					'content': item.band_ctas_link['title'],
					'url': item.band_ctas_link['url'],
					'target': item.band_ctas_link['target'],
					'classes': 'ma--btn--secondary',
					'role': 'link',
					}%}

				{% endif %}

			{% endfor %}

		{% endif %}
	</div>
</section>
{# =========================================== #}
