/*
Theme Name: MA Base WP Theme
Theme URI: https://localhost:3000/
Author: Message Agency
Author URI: https://www.messageagency.org/
Version: 1.0.0
Description: The base theme for Message Agency WordPress projects.
Tailwind + Vite + Timber + Twig + ACF.
*/

/*------------------------------------------------
Font Imports
-------------------------------------------------*/
@import 'components/01-atoms/Fonts/_montserrat.css';
@import 'components/01-atoms/Fonts/_archivo.css';
@import 'components/01-atoms/Fonts/_mulish.css';

/*------------------------------------------------
h1-h6, a, p
-------------------------------------------------*/
@import 'components/01-atoms/Text/_base.css';
@import 'components/01-atoms/Text/_editor.css';

/*------------------------------------------------
Form Inputs
-------------------------------------------------*/
@import 'components/01-atoms/Forms/_forms.css';

/*------------------------------------------------
Pagination Plugin CSS Overrides (WP-PageNavi)
-------------------------------------------------*/
@import '/pagenavi-css.css';

/*------------------------------------------------
Animate On Scroll (AOS) CSS
-------------------------------------------------*/
/* @import 'aos/dist/aos.css'; */

/*------------------------------------------------
FlowBite SVG Icons https://flowbite.com/icons/

If you need SVG icons, you can use FlowBite
SVG Icons (copy and paste from the site).
FlowBite does not offer a package to import
these icons yet.
-------------------------------------------------*/

/*------------------------------------------------
Body Block
-------------------------------------------------*/
@import '/src/components/03-organisms/Body/_body.css';

/*------------------------------------------------
Tailwind Base Directives
-------------------------------------------------*/
@tailwind base;
@tailwind components;
@tailwind utilities;

/*------------------------------------------------
Debugging
-------------------------------------------------*/
.debug {
  border: 2px solid red;
  * {
    border: 1px solid blue;
  }
}
