{# -----------------------------------------------------------------------------
@FILE: --- Button.twig
BLOCK_NAME: --- Button
DESCRIPTION: --- This block is used to create a button.
INFO: --- This block is used to create a button with the option to add classes, a role, and a disabled attribute.
============================================================================= #}

{# Twig Context ----------------------------------------------------------------
  - content: The text to be displayed on the button.
  - classes: Classes to be added to the button.
  - disabled: A boolean to determine if the button gets the disabled attribute.
  - role: The role attribute for the button.
  - default_btn_class: The default class for the button.
  - default_role: The default role for the button.
  - default_error_text: The default error text for the button.
 ------------------------------------------------------------------------------#}

{# Set Variables ----------------------------- #}
{% set default_btn_class = 'ma--btn' %}
{% set default_role = 'button' %}
{% set default_error_text = 'No Text Provided For Button' %}
{# =========================================== #}

{# Component Markup -------------------------- #}
{% if content is not empty %}
  <button
    {{ disabled is defined and disabled ? 'disabled' : '' }}
    class="{{ default_btn_class }} {{ classes|join(' ')|e('html_attr') }}"
    role="{{ role is defined ? role|e('html_attr') : default_role }}"
  >
    {{ content }}
  </button>
{% else %}
  <p>{{ default_error_text }}</p>
{% endif %}
{# =========================================== #}
