{#
/**
 * @File
 * Template for a Link Button component.
 *
 * Available variables:
 * - type: primary | secondary
 * - content: That which is to be buttonized.
 */
#}

{# Default Vars #}
{% set default_btn_class = 'ma--btn' %}
{% set default_role = 'link' %}
{% set default_target = '_self' %}
{% set default_error_text = 'No Text Provided For Button' %}

{% if content is not empty %}
  <a
    href="{{ url }}"
    class="{{ default_btn_class }} {{ classes|join(' ')|e('html_attr') }}"
    role="{{ role is defined ? role|e('html_attr') : default_role }}"
    target="{{ target ? target : default_target }}"
  >
    {{ content }}
  </a>
{% else %}
  <p>{{ default_error_text }}</p>
{% endif %}
