{# -----------------------------------------------------------------------------
@FILE: --- menu-grid.twig
BLOCK NAME: --- Menu Grid
DESCRIPTION: --- A grid of cards that are populated by the children of the current page.
INFO: --- This block is designed to be used on the homepage and other landing pages to display the children of the current page in a grid of cards.
============================================================================= #}

{# Twig Context ----------------------------------------------------------------
- field.band_heading: string
- primary_menu: object
============================================================================= #}

{# Set Variables ----------------------------- #}

{# setting the ACF ID on the block #}
{% set block_id = block.id %}
{# =========================================== #}

{# Component Markup -------------------------- #}
{% if primary_menu.get_items is not empty %}
  <section id="{{ block_id }}" class="ma--block--spacing ma--menugrid">
    <div
      class="align-items-center container grid grid-cols-1 justify-items-center gap-3 py-5 md:mx-auto md:grid-cols-2 lg:grid-cols-3"
    >
      {% if field.band_heading %}
        <h2 class="col-span-full pb-2 text-center">{{ field.band_heading }}</h2>
      {% endif %}

      {% for item in primary_menu.get_items %}
        {% if item.children and post.link == item.url %}
          {% for item in primary_menu.get_items %}
            {% if item.children and post.link == item.url %}
              {% for child in item.children %}
                {% include './src/components/03-organisms/Card/GridCard.twig' with {
                  card_eyebrow: '',
                  card_title: child.title,
                  card_mustache: '',
                  card_image_bg_url: child.image_src,
                  card_link_url: child.url,
                  card_is_a_link: true
                } %}
              {% endfor %}
            {% endif %}
          {% endfor %}
        {% endif %}
      {% endfor %}

      {# {% for item in primary_menu.get_items %}
			{% for child in item.children %}
				{% if child.item.children and post.link == child.url %}

					{{ field.band_heading }}


						{% for item in primary_menu.get_items %}

							{% for child in item.children %}

								{% if child.item.children and post.link == child.url %}

									{% for third in child.item.children %}

										{{ third.get_link }}
										{{ third.title }}
										<div class="tw-font-[500]">Topics</div>

									{% endfor %}

								{% endif %}

							{% endfor %}

						{% endfor %}

				{% endif %}
			{% endfor %}
		{% endfor %} #}
    </div>
  </section>
{% endif %}
{# =========================================== #}
