{# -----------------------------------------------------------------------------
@FILE: --- story--no--media.twig
BLOCK_NAME: --- Story - No Media
DESCRIPTION: --- This is the template that displays the story block with no media.
INFO: ---
============================================================================= #}

{# Twig Context ----------------------------------------------------------------
- field.band_heading (string): The heading.
- field.band_body (string): The body text.
- field.band_ctas (array): The CTAs.
  - band_ctas_link (array): The link.
    - title (string): The title.
    - url (string): The URL.
    - target (string): The target.
============================================================================= #}

{# Set Variables ----------------------------- #}
{# setting the ACF ID on the block #}
{% set block_id = block.id %}
{# =========================================== #}

{# Component Markup -------------------------- #}
<section class="flex items-center justify-center bg-white ma--block--spacing ma--story">
  <div class="container flex flex-col bg-brand-light-blue px-2 py-5 md:min-h-[300px] md:flex-row md:px-4 md:py-8">
    <div class="w-full md:w-2/3">
      <h2>{{ field.band_heading }}</h2>
      <div>{{ field.band_body }}</div>
    </div>

    {# CTAS #}
    <div class="mt-4 flex w-full flex-col justify-end gap-y-2 md:mb-0 md:mt-[40px] md:w-1/3 md:items-center">
      {% for item in field.band_ctas %}
        {% if item.band_ctas_link is not empty %}
          {% if loop.first %}
            {% include './src/components/01-atoms/Button/LinkButton.twig' with {
              content: item.band_ctas_link['title'],
              url: item.band_ctas_link['url'],
              target: item.band_ctas_link['target'],
              classes: 'ma--btn--primary',
              role: 'link'
            } %}
          {% else %}
            {% include './src/components/01-atoms/Button/LinkButton.twig' with {
              content: item.band_ctas_link['title'],
              url: item.band_ctas_link['url'],
              target: item.band_ctas_link['target'],
              classes: 'ma--btn--secondary',
              role: 'link'
            } %}
          {% endif %}
        {% endif %}
      {% endfor %}
    </div>
  </div>
</section>
{# =========================================== #}
