{# ----------------------------------------------------------------------------
@FILE: --- story.twig
BLOCK_NAME: --- Story
DESCRIPTION: --- A band that contains a heading, body text, and optional media (image or video or none).
INFO: --- This band is used to tell a story. It can contain a heading, body text, and optional media (image or video). It can also contain CTAs.
============================================================================ #}

{# Twig Context ---------------------------------------------------------------
- field.media_alignment - left or right media alignment.
- field.media_type - The media type (image, video, none).

- field.band_image - The band image.
- field.band_video - The band video.

- field.band_heading - The band heading text.
- field.band_body - The band body text.

- field.band_ctas - The band CTAs object.
- field.band_ctas_link - The band CTAs link url.
============================================================================= #}

{# Set Variables ----------------------------- #}

	{# setting the ACF ID on the block #}
	{% set block_id = block.id %}

{# =========================================== #}


{# Component Markup -------------------------- #}
{% if field.media_type is same as 'image' or field.media_type is same as 'video' %}

	<section id="{{ block_id }}" class="ma--story flex flex-col w-full  {{ field.media_alignment is not empty and field.media_alignment == 'right' ? 'lg:flex-row-reverse' : 'lg:flex-row'}}">
	<div class="bg-white {{field.media_type == 'video' ? 'bg-white' : 'lg:bg-brand-light-blue'}}  w-full lg:w-1/2 flex flex-col justify-center md:px-15 md:py-12 px-2 py-5">

		{# HEADING #}
		{% if field.band_heading %}
			<h2>{{ field.band_heading }}</h2>
		{% endif %}

		{# BODY #}
		{% if field.band_body %}
			<div>{{ field.band_body }}</div>
		{% endif %}

		{# CTAS #}
		<div class="md:mt-[40px] md:mb-[24px] flex-col md:flex-row flex gap-x-2 gap-y-2 md:gap-y-0 mt-4">
			{% for item in field.band_ctas %}
				{% if item.band_ctas_link is not empty %}
					{% if loop.first %}

						{% include "./src/components/01-atoms/Button/LinkButton.twig" with {
							'content': item.band_ctas_link['title'],
							'url': item.band_ctas_link['url'],
							'target': item.band_ctas_link['target'],
							'classes': 'ma--btn--primary',
							'role': 'link',
							}%}

					{% else %}

						{% include "./src/components/01-atoms/Button/LinkButton.twig" with {
						'content': item.band_ctas_link['title'],
						'url': item.band_ctas_link['url'],
						'target': item.band_ctas_link['target'],
						'classes': 'ma--btn--secondary',
						'role': 'link',
						}%}

					{% endif %}
				{% endif %}
			{% endfor %}
		</div>
	</div>

	{# MEDIA === IMAGE #}
	{% if field.media_type is same as 'image' %}

		{% set image = get_image(field.band_image) %}
		<div class="order-first lg:order-2 bg-cover lg:w-1/2 bg-center flex-grow h-[320px] lg:h-auto" style="background-image:url('{{ image.src('story') }}');"></div>

	{# MEDIA === VIDEO #}
	{% elseif field.media_type is same as 'video' %}

		<div class="flex flex-col justify-center order-first bg-brand-light-blue lg:order-2 md:aspect-video lg:w-1/2">
			{{ field.band_video }}
		</div>

	{% endif %}

</section>


{# MEDIA === NONE #}
{% elseif field.media_type is same as 'none'  %}

	{% include "./src/components/03-organisms/Story/StoryNoMedia.twig" with {
		'band_heading': field.band_heading,
		'band_body': field.band_body,
		'band_ctas': field.band_ctas,
	}
	%}

{% endif %}

{# =========================================== #}
