{# -----------------------------------------------------------------------------
@FILE: signpost-grid.twig
BLOCK NAME: --- Signpost
DESCRIPTION: --- A set of signpost cards with an optional heading, body text, thumbnail image, and icon.
INFO: --- This component is used to display a set of signpost cards. Each card can have a thumbnail image or an icon, a heading, body text, and a link.
============================================================================= #}

{# Twig Context ----------------------------------------------------------------
- field.band_heading (string): The heading text
- field.band_body (string): The body text
- field.signpost_items (array): The signpost items
  - item.signpost_image (array): The signpost image
    - src (string): The image URL
    - alt (string): The image alt text
  - item.signpost_icon (string): The signpost icon
  - item.signpost_heading (string): The signpost heading
  - item.signpost_body (string): The signpost body
  - item.signpost_link (array): The signpost link
    - url (string): The link URL
    - target (string): The link target
 ============================================================================= #}

{# Set Variables ----------------------------- #}

{% set card_has_white_bg = false %}

{# setting the ACF ID on the block #}
{% set block_id = block.id %}
{# =========================================== #}

{# Component Markup -------------------------- #}
<section
  id="{{ block_id }}"
  class="ma--block--spacing ma--signpost flex flex-col items-center justify-center text-center"
>
  <div class="container grid grid-cols-1 items-stretch gap-3 md:grid-cols-3 md:items-start md:justify-center">
    {# Heading & Body Text #}
    {% if field.band_heading or field.band_body %}
      <div class="col-span-full mx-auto max-w-[75ch]">
        {% if field.band_heading %}
          <h2 class="">{{ field.band_heading }}</h2>
        {% endif %}

        {% if field.band_body %}
          <div class="pb-4 pt-2 text-black md:pb-5 md:pt-4">{{ field.band_body }}</div>
        {% endif %}
      </div>
    {% endif %}

    {% if field.signpost_items %}
      {% for item in field.signpost_items %}
        {% include './src/components/03-organisms/Card/Card.twig' with {
          card_image: get_image(item.signpost_image),
          card_icon: item.signpost_icon,
          card_icon_type: item.icon_type,
          card_heading: item.signpost_heading,
          card_body: item.signpost_body,
          card_link: item.signpost_link,
          card_has_white_bg: cards_have_white_bg
        } %}
      {% endfor %}
    {% endif %}
  </div>

  {# CTAS #}
  <div class="flex flex-col items-center gap-x-2 gap-y-2 pt-8 md:flex-row md:gap-y-0">
    {% for item in field.band_ctas %}
      {% if item.band_ctas_link is not empty %}
        {% if loop.first %}
          {% include './src/components/01-atoms/Button/LinkButton.twig' with {
            content: item.band_ctas_link['title'],
            url: item.band_ctas_link['url'],
            target: item.band_ctas_link['target'],
            classes: 'ma--btn--primary n',
            role: 'link'
          } %}
        {% else %}
          {% include './src/components/01-atoms/Button/LinkButton.twig' with {
            content: item.band_ctas_link['title'],
            url: item.band_ctas_link['url'],
            target: item.band_ctas_link['target'],
            classes: 'ma--btn--secondary',
            role: 'link'
          } %}
        {% endif %}
      {% endif %}
    {% endfor %}
  </div>
</section>
{# =========================================== #}
