{#
/**
 * @file
 * Template for a search-bar component.
 */
#}
<form class="mx-auto max-w-md" role="search" method="get" action="{{ site.url }}">
  <label for="default-search" class="sr-only mb-2 text-sm font-medium text-gray-900">Search</label>
  <div class="relative">
    <div class="pointer-events-none absolute inset-y-0 start-0 flex items-center ps-3">
      <svg
        class="h-3 w-3 text-gray-500"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 20 20"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"
        />
      </svg>
    </div>
    <input
      type="search"
      id="s"
      name="s"
      class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-1 ps-10 text-sm text-gray-900 focus:border-blue-500 focus:ring-blue-500"
      placeholder="Search"
      required
    />
    <button
      type="submit"
      class="end-2.5 bottom-2.5 absolute rounded-lg bg-blue-700 px-4 py-2 text-sm font-medium text-white hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300"
    >
      Search
    </button>
  </div>
</form>
