{# -----------------------------------------------------------------------------
@FILE: content--grid.twig
BLOCK NAME: --- Content Grid
DESCRIPTION: --- This block is used to display a grid of content cards.
INFO: --- This can be used to display news, events, resources, profiles, and more.
============================================================================= #}


{# Twig Context ----------------------------------------------------------------
	- field.band_heading (string)
	- field.band_body (string)
	- field.band_ctas (array)
		- field.band_ctas_link (array)
			- title (string)
			- url (string)
			- target (string)
	- grid_posts (array)
		- title (string)
		- permalink (string)
		- image_src (string)
		- date (string)
		- post_type (string)
		- event_date (string)
		- resource_type (string)
		- news_type (string)
		- location_type (string)
		- profile_type (string)
============================================================================= #}


{# Set Variables ----------------------------- #}
{# setting the ACF ID on the block #}
{% set block_id = block.id %}
{# =========================================== #}


{# Component Markup -------------------------- #}
<section id="{{ block_id }}" class=" ma--content--grid">

  <div class="container grid grid-cols-1 gap-3 md:grid-cols-2 lg:grid-cols-3 justify-items-center align-items-center">

	 {% if field.band_heading %}
   <h2 class="text-center col-span-full"> {{ field.band_heading }}</h2>
  {% endif %}

  {% if field.band_body %}
    <div class="pb-4 col-span-full md:pb-5">{{ field.band_body }}</div c>
  {% endif %}

    {% for post in grid_posts %}

			{# <p>Type: {{ post.post_type }}</p> #}
            {# {{post.image}} #}
            {# <p>Event Date: {{ post.event_date }}</p>
            <p>Resource Type: {{ post.resource_type }}</p>
            <p>News Type: {{ post.news_type }}</p>
            <p>Location Type: {{ post.location_type }}</p>
            <p>Profile Type: {{ post.profile_type }}</p> #}
			{% include "./src/components/03-organisms/Card/GridCard.twig" with {
				'card_eyebrow': 'Eyebrow',
				'card_title': post.title,
				'card_mustache': post.date,
				'card_image_bg_url': post.image_src,
				'card_link_url': post.permalink,
				'card_is_a_link': true
			}%}
    {% endfor %}
  </div>

	<div class="flex flex-col items-center justify-center pt-8 md:flex-row gap-x-2 gap-y-2 md:gap-y-0">
		{% if field.band_ctas %}

			{% for item in field.band_ctas %}

				{% if loop.first %}

					{% include "./src/components/01-atoms/Button/LinkButton.twig" with {
					'content': item.band_ctas_link['title'],
					'url': item.band_ctas_link['url'],
					'target': item.band_ctas_link['target'],
					'classes': 'ma--btn--primary',
					'role': 'link',
					}%}

				{% else %}

					{% include "./src/components/01-atoms/Button/LinkButton.twig" with {
					'content': item.band_ctas_link['title'],
					'url': item.band_ctas_link['url'],
					'target': item.band_ctas_link['target'],
					'classes': 'ma--btn--secondary',
					'role': 'link',
					}%}

				{% endif %}

			{% endfor %}

		{% endif %}
	</div>

</section>
{# =========================================== #}
