{#
/**
 * @file
 * Template for a page-header component.
 */
#}

<header class="">
  {% include './src/components/02-molecules/Navbar/Navbar.twig' %}

  {% if options.alert_message %}
    <div class="alert {{ options.alert_level }} alert-dismissible">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <div class="alert-content">{{ options.alert_text }}</div>
    </div>
  {% endif %}
</header>
